.popup {
    display: none; /* Hidden by default */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.hidden {
    display: none;
}
